header {
    background-color: #2f2f2f; 
    color: white; 
    text-align: center; 
    font-family: 'Blooming Elegant', sans-serif; 
    font-weight: bold; 
    width: 100%; 
    margin: auto;
    
}

header h1{
  font-size: 4.5em;
}

header li {
  font-size: 1.55em;
}

header a {
  text-decoration: none;
  color: #fff;
}



nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.66em 1em;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2f2f2f;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 14em;
  float: none;
  display: list-item;
  position: relative;
}

nav ul li ul li {
  font-size: 0.75em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
nav li {
    display: inline-block;
    margin-right: 10px;
}







body {
      background: url('Data_CHEF_GPT/fond_chefgpt_dark.png') no-repeat center center fixed;
      background-size: cover;
  
      height: 3em;

      color: #ffffff;
      font-family: Arial, sans-serif;
      font-size: 1em;
      text-align: center;
      padding: 3em;
}





#Home {
  background-color: #4f4f4f	; /* Couleur de fond */
}

#Home h2 {
  font-size: 2.60em;
}

#Home h3 {
  font-size: 1.45em;
}

#Home a {
  text-decoration: none; /* pas de soulignement */
  color: #ffffff;
}





footer {
    background-color: #2f2f2f;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;   
}


