header {
    background-color: #2f2f2f; 
    color: white; 
    text-align: center; 
    font-family: 'Blooming Elegant', sans-serif; 
    font-weight: bold; 
    width: 100%; 
    margin: auto;
    
}

header h1{
  font-size: 70px;
}

header li {
  font-size: 28px;
}

header a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10.56px 16px;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2f2f2f;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 14em;
  float: none;
  display: list-item;
  position: relative;
}

nav ul li ul li {
  font-size: 12px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
nav li {
    display: inline-block;
    margin-right: 10px;
}
body {
      background: url('Data_CHEF_GPT/fond_chefgpt_dark.webp') no-repeat center center fixed;
      background-size: cover;
      height: 48px;
      color: #ffffff;
      font-family: Arial, sans-serif;
      font-size: 1em;
      text-align: center;
      padding: 48px;
}

#Home {
  background-color: #4f4f4f	; /* Couleur de fond */
}

#Home h2 {
  font-size: 41px;
}

#Home h3 {
  font-size: 23px;
}

#Home a {
  text-decoration: none; /* pas de soulignement */
  color: #ffffff;
}



form {
  background-color: #4f4f4f;
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #2f2f2f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2f2f2f;
}


footer {
    background-color: #2f2f2f;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%; 
    margin-top: 30px;  
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header h1 {
    font-size: 60px;
  }
  
  header li {
    font-size: 16px;
  }
  
  header a {
    font-size: 1em;
  }
  
  #Home h2 {
    font-size: 20px;
  }
  
  #Home h3 {
    font-size: 16px;
  }

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}
footer {
  color: #fff;
  text-align: center;
  margin-top: 30px;  /*decoller le footer de section*/
  padding: 1em;
  width: 100%;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  section video {
    width: 90%;
    height: auto;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  nav li {
    display: inline-block;
    margin-right: 0px;
  }
  header h1 {
    font-size: 50px;
  }
  
  header li {
    font-size: 14px;
  }
  
  header a {
    font-size: 0.8em;
  }
  
  #Home h2 {
    font-size: 14px;
  }
  
  #Home h3 {
    font-size: 10px;
  }

form {
  background-color: #FAEBD7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}
footer {
  color: #fff;
  text-align: center;
  margin-top: 30px;  /*decoller le footer de section*/
  padding: 1em;
  width: 100%;
}
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  section video {
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 425px) {
  nav li {
    display: inline-block;
    margin-right: 0px;
  }
  header h1 {
    font-size: 40px;
  }
  
  header li {
    font-size: 8px;
  }
  
  header a {
    font-size: 0.8em;
  }
  
  #Home h2 {
    font-size: 12px;
  }
  
  #Home h3 {
    font-size: 8px;
  }

form {
  background-color: #FAEBD7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px;
}
footer {
  color: #fff;
  text-align: center;
  margin-top: 30px;  /*decoller le footer de section*/
  padding: 1em;
  width: 100%;
}
}
@media screen and (max-width: 425px) {
  section video {
    width: 90%;
    height: auto;
  }
}